/* animation index */

#boatContainer {
  width: 300px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 50px auto;
  text-align: center;
}

#boat {
  width: 300px;
  height: 220px;
  background-image: url(bateau.jpg);
  background-size: cover;
  margin:auto;
}

/* Style de l'index */

.demarrage {
   padding: 10px;
   border: 2px solid rgba(2, 44, 230);
   border-radius: 10px;
   background-color: rgba(151, 202, 252);
   }

.session {
  text-align: center;
  padding: 1px;
  width: auto;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
}

.session p {
  font-size: 15px;
}

.session#ss0 {
    background-color: black;
    padding: 1px;

}

div#ss0 p {
  font-size: 18px;
  font-weight: bold;
  padding: 0;
}

.session#ss1 {
    background-color: gray;
}

.session#ss2 {
    background-color: blue;
}

.session#ss3 {
    background-color: red;
}

.session#ss4 {
    background-color: orange;
}

.session#ss5 {
    background-color: green;
}

html {
   font-family: Tahoma, sans-serif;
   color: black;
}

div.whole {
  background-color: #f5f5f5;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  border: 2px solid blue;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 30, 0.5);
  margin-bottom: 35px;
}

body {
  padding: 25px;
background-color: #00E8FF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,668,626)'%3E%3Cstop offset='0' stop-color='%2300E8FF'/%3E%3Cstop offset='1' stop-color='%23060295'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.06'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
font-family: Palatino, URW Palladio L, serif
}

.menu {
  background-color: #f2f2f2;
  padding: 10px;
  }
  

.title {
  font-size: 25px;
  font-weight: bold;
  background-color: #E6E6E6;
  padding: 10px;
  border-bottom: 1px solid black;
}

.title:hover {
  cursor: pointer;
  }

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

/* Pour les boutons de chargement de session*/

#cs {
   background-color: blue;
   cursor: pointer;
   }
   
#cs:hover {
   background-color: #0040FF;
   cursor: pointer;
}

#ns {
   background-color: green;
   }

#ns:hover {
   cursor: pointer;
   background-color: #2EFE2E;
   }
   
#ss {
   background-color: red;
   }

#ss:hover {
   cursor: pointer;
   background-color: #F53A3A;
   }

/* Style général */

a {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  font-style: italic;
  color: #FF8000;
}

a:hover {
  background-color: rgba(0, 229, 194, 0.2);
  }

p, label {
  font-size: 20px;
  }

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
  margin-left: 30px;
}

h4 {
  font-size: 22px;
}

.text {
   text-align: left;
   padding: 10px;
}

.image_desc {
   width: 60vmin;
   height: auto;
   border: 3px solid #0B4C5F;
   border-radius: 5%;
   margin: auto;
   margin-top: 2vmin;
   display: block;
   
}

.dot {
   color: #FF8000;
   font-weight: bold;
   font-size: 25px;
}

.image_center {
   text-align: center;
}

.description {
   color: #B45F04;
   margin-top: 10px;
   font-size: 20px;
   font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 50px;
  font-family: OCR A Std, monospace;
}

.erreur {
   color: red;
   font-weight: bold;
   font-size: 15px;
}

th, td {
   width: 20%; 
   text-align: center;
   }


.debut {
  margin: 50px auto;
  padding: 20px;
  border: 1px solid gray;
}


legend {
  font-weight: bold;
}


button {
  width: 100%;
  padding: 10px 20px;
  background-color: green;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
   background-color: #01DF01;
}

/* Pour new session*/

form#new_s {
  width: 75vmin;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: rgba(240,240,240);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 30, 0.5);
}

label, input {
  display: block;
  margin-bottom: 10px;
}

label {
  font-size:20px;
  font-weight: bold;
}

input[type="submit"], input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  box-sizing: border-box;
}

input[type="password"] {
   width: auto;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: green;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover
{
  background-color: rgba(0, 178, 10);
}

/* stop session */

#v {
  background-color: #81F79F;
  }

#v:hover {
  background-color: #A9F5BC;
  }
  
#r {
  background-color: #F5BCA9;
  }
  
#r:hover {
  background-color: #F6D8CE;
  }
  
#b {
  background-color: #A9D0F5;
  }
  
#b:hover {
  background-color: #CEECF5;
  }

/* modifier les class et id */

 .option2 {
  margin: 50px auto;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #E0F8F7;
}

fieldset {
  background-color: #FAFAFA;
}

legend {
  font-weight: bold;
  font-size: 25px;
}

.option input[type="submit"], input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.option input[type="checkbox"] {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

input[type="checkbox"], label {
    display: inline-block;
}

.option input[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: green;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.option input[type="submit"]:hover {
   background-color: #01DF01;
}

.warning {
   width: 60px;
   height: 60px;
   visibility: hidden;
}

/* ini */

table {
  border-collapse: collapse;
  margin-top: 10px;
}
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.light {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.text {
  font-size: 18px;
  margin-top: 20px;
}
th, td {
   width: 10%; 
   text-align: center;
   padding: 5px;
   }


thead {
   background-color: #E0E6F8;
   padding: 5px;
   }

tbody td {
     border: 1px solid black;
     padding: 5px;
     }

thead th {
   border: 1px solid black;
   border-bottom: 3px double black;
   }
   
tfoot {
   background-color: #E0E6F8;
   padding: 5px;
   }
   
.verif_ok, .verif_non {
   display:inline-block; 
   width: 10px; 
   height: 10px; 
   border-radius: 5px; 
   background-color: green;
}

.verif_non {
   background-color: red;
}
   
tfoot td {
 border: 1px solid black;
 text-align: left;
 padding: 5px;
 }

div.sst {
  padding: 15px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: left;
  font-weight: 200;
  background-color: rgba(22,255,255, 0.1);
}